$max-width: 1185px;
$frank: 'Frank Ruhl Libre', serif;
$lato: 'Lato', sans-serif;
$color-white: #F9F1F0;
$color-black: #140005;
.absolute{
    position: absolute;
}
.overflow-hidden{
    overflow: hidden;
}
.z-index-10{
    z-index: 10;
}
.z-index--1{
    z-index: -1;
}