.absolute {
  position: absolute;
}

.overflow-hidden {
  overflow: hidden;
}

.z-index-10 {
  z-index: 10;
}

.z-index--1 {
  z-index: -1;
}

.animate__animated {
  opacity: 0;
}

.opacity1 {
  opacity: 1 !important;
}

body footer {
  width: 100%;
  padding: 0 0 60px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #140005;
}
body footer .footer-btn {
  background-color: white;
  position: relative;
  color: #140005;
  padding: 20px 40px;
  font-weight: 700;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 20;
  text-decoration: none;
  font-size: 18px;
  border: white solid 2px;
  top: -30px;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
body footer .footer-btn:hover {
  background-color: #140005;
  color: white;
}
body footer .links {
  width: 100%;
  padding: 20px;
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}
body footer .links a {
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  font-size: 17px;
  margin-bottom: 20px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
body footer .links a:hover {
  color: #F9F1F0;
}
body footer p.copyright {
  color: white;
  text-transform: capitalize;
}
body footer p.copyright a {
  color: white;
  text-decoration: none;
}

@media (max-width: 900px) {
  .footer-btn {
    font-size: 17px !important;
    padding: 10px 20px !important;
  }

  footer .links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}